EXPO_PUBLIC_API_URL=http://localhost:5099
EXPO_PUBLIC_TTS_URL=http://localhost:8090
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=
# Expo Go only — set to https://auth.expo.io/@your-username/hackathon-app
EXPO_PUBLIC_GOOGLE_REDIRECT_URI=
